application_files/datatype/%7Bhttp%3A%2F%2Fwww.ehp.qld.gov.au%2Fconnect%2Ftypes%2F%7DCTSuitableOperatorDecisionResult_INT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.ehp.qld.gov.au/connect/types/"
  xmlns:tns="http://www.ehp.qld.gov.au/connect/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CTSuitableOperatorDecisionResult_INT">
    <xsd:sequence>
      <xsd:element name="suitableOperatorRegistrationNumber"
        nillable="true" type="xsd:string"/>
      <xsd:element name="RSOstatusFlag" nillable="true" type="xsd:string"/>
      <xsd:element name="RSOstatusMessage" nillable="true" type="xsd:string"/>
      <xsd:element name="decisionNotice" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema> 