application_files/datatype/%7Bhttp%3A%2F%2Fwww.ehp.qld.gov.au%2Fconnect%2Ftypes%2F%7DCTEnvironmentalAuthorityFinancialAssuranceDetails_INT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.ehp.qld.gov.au/connect/types/"
  xmlns:tns="http://www.ehp.qld.gov.au/connect/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CTEnvironmentalAuthorityFinancialAssuranceDetails_INT">
    <xsd:sequence>
      <xsd:element name="taodCategoryCode" nillable="true" type="xsd:string"/>
      <xsd:element name="rehabilitationRiskType" nillable="true" type="xsd:string"/>
      <xsd:element name="financialAssuranceFee" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema> 