application_files/datatype/%7Bhttp%3A%2F%2Fwww.ehp.qld.gov.au%2Fconnect%2Ftypes%2F%7DCTPartyAddress.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.ehp.qld.gov.au/connect/types/"
  xmlns:tns="http://www.ehp.qld.gov.au/connect/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="CTPartyAddress">
    <xsd:annotation>
      <xsd:appinfo source="appian.jpa">
				  @Table( name="party_address")
				</xsd:appinfo>
      <xsd:documentation><![CDATA[This datatype is used to record the details for the party address.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="partyAddressId" nillable="true" type="xsd:long">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
 					@Id
	   			     @GeneratedValue
 				     @Column( name="party_address_id")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="verifiedFlag" nillable="true" type="xsd:byte">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				  @Column( name="verified_flag")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="standardFlag" nillable="true" type="xsd:byte">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				  @Column( name="standard_flag")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="overseasFlag" nillable="true" type="xsd:byte">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				  @Column( name="overseas_flag")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="poBox" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
		@Column( name="pobox",columnDefinition="VARCHAR(10)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="property" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	  @Column( name="property",columnDefinition="VARCHAR(100)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="unitNo" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
		@Column( name="unit_no",columnDefinition="VARCHAR(10)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="streetNo" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
		@Column( name="street_no",columnDefinition="VARCHAR(10)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="streetName" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
		@Column( name="street_name",columnDefinition="VARCHAR(50)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="streetType" nillable="true" type="xsd:long">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				  @Column( name="street_type")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postCode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
		@Column( name="postcode",columnDefinition="VARCHAR(4)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="suburb" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
		@Column( name="suburb",columnDefinition="VARCHAR(30)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="state" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
		@Column( name="state",columnDefinition="CHAR(3)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="addressLine1" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="address_line1",columnDefinition="VARCHAR(100)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="addressLine2" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="address_line2",columnDefinition="VARCHAR(100)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="addressLine3" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	 @Column( name="address_line3",columnDefinition="VARCHAR(100)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="country" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="country",columnDefinition="VARCHAR(60)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="deliveryPointId" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="delivery_point_id",columnDefinition="VARCHAR(8)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="flatUnitType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="flat_unit_type",columnDefinition="VARCHAR(7)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="buildingName2" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="building_name_2",columnDefinition="VARCHAR(100)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="buildingLevelType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="building_level_type",columnDefinition="VARCHAR(2)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="buildingLevelNumber" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="building_level_number",columnDefinition="VARCHAR(5)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="allotmentLot" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="allotment_lot",columnDefinition="VARCHAR(3)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="allotmentNumber" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="allotment_number",columnDefinition="VARCHAR(6)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="subBuildingNumber" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="sub_building_number",columnDefinition="VARCHAR(5)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="postalDeliveryType" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="postal_delivery_type",columnDefinition="VARCHAR(11)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="streetTypeSuffix" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="street_type_suffix",columnDefinition="VARCHAR(10)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="invalidLocalityAlias" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="invalid_locality_alias",columnDefinition="VARCHAR(60)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="borderingLocality" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="bordering_locality",columnDefinition="VARCHAR(60)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="borderingLocalityPostcode" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="bordering_locality_postcode",columnDefinition="VARCHAR(4)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="primaryPoint" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="primary_point",columnDefinition="VARCHAR(10)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="countryCode2" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="country_code_2",columnDefinition="VARCHAR(2)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="countryCode3" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
	@Column( name="country_code_3",columnDefinition="VARCHAR(3)")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				@Column( name="created_by")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="createdTimestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				@Column( name="created_ts")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="updatedBy" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				@Column( name="updated_by")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="updatedTimestamp" nillable="true" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				@Column( name="updated_ts")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="active" nillable="true" type="xsd:byte">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				@Column( name="active")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="source" nillable="true" type="xsd:string">
        <xsd:annotation>
          <xsd:appinfo source="appian.jpa">
				@Column( name="source")
				</xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
