application_files/datatype/%7Bhttp%3A%2F%2Fwww.qas.com%2FOnDemand-2011-03%7DQAInformation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.qas.com/OnDemand-2011-03"
  xmlns:tns="http://www.qas.com/OnDemand-2011-03" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="QAInformation">
    <xsd:sequence>
      <xsd:element form="qualified" name="StateTransition" type="xsd:string"/>
      <xsd:element form="qualified" name="CreditsUsed" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
